body {
    color: white;
}

// Sizes - Mobile First

$base-font-size: 20px;
$font-scale:4;


@for $i from 1 through 6 {
    h#{$i} {
        font-size: $base-font-size + $font-scale * (6 - $i);
        line-height: 1.2em;
        margin-bottom: $grid__gap;
    }
}



h1,
h2,
h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;


}

h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: Normal;
}

p {
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: $grid__gap;

}

p::before {
    content: "";
    display: block;
    margin-bottom: 10px;
    width: 20%;
    border-bottom: 3px solid white;
}



.overline {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    font-weight: 700;

}

a {
    color: white;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    transition: 0.2s;
}

a:hover:not(.fa, .fa-facebook) {
    border-bottom: 2px solid $color-fuschia;
    font-family: 'Archivo', sans-serif;
}



// Sizes Tablet and Larger

@include for-desktop-up {

    $base-font-size: 20px;
    $font-scale: 14;


    @for $i from 1 through 6 {
        h#{$i} {
            font-size: $base-font-size + $font-scale * (6 - $i);
            line-height: 1.2em;


        }
    }
}