// Footer
footer {
    background-color: $color-brand-black;

    div {
        >h6 {
            grid-column: span 4;
            margin: 0;
        }

        >h6:after {
            content: "";
            display: block;
            margin-top: 5px;
            width: 20%;
            border-bottom: 3px solid white;
        }
    }
}



.social-media {
    display: flex;
    grid-column: span 4;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.fa {
    padding: 20px;
    text-decoration: none;
    border-radius: 50%;
    margin: 2px;
    text-align: center;
    border: 2px solid white;
    color: white;
    transition: 0.2s;
}

.fa:hover,
.fa:active {

    border: 2px solid $color-green;
    color: $color-green;

}

.fa-facebook {
    // Facebooks div had to be reset
    height: 60px;
    width: 60px;
}

@include for-tablet-landscape-up {

    footer {
        div {
            h6 {
                margin-bottom: $grid__gap;
            }
        }

        .grid__section {
            .contact {
                grid-column: 2/span 2;
            }

            .social {
                grid-column: span 3;
            }
        }
    }

}

@include for-desktop-up {
    footer {
        .grid__section {
            .social {
                grid-column: 6/span 6;
            }
        }
    }
}