// Grids - Mobile First

.grid__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $grid__gap;
    padding: 4em $grid__gap;
}


.card-container__grid {
    // Grid placement within .grid__section
    grid-row: 2;

    // Grid for hortizontal cards
    display: grid;
    grid-template-columns: repeat(8, calc(50% - 40px));
    grid-template-rows: minmax(150px, 1fr);
    grid-gap: $grid__gap;
    overflow-x: scroll;
    scroll-snap-type: x proximity;

}

// Section Styles
.wrapper {
    max-width: 1300px;

}

// About Section

.about {
    background-color: $color-brand-black;
    color: white;

    .grid__item--about {
        grid-column: span 2;

    }

    p {
        grid-column: span 3;
        grid-row: 2
    }
}

// Headliners
.headliners {
    padding: 4em $grid__gap;
    background: $color-dark-teal;
    scroll-snap-type: x mandatory;

}

.card {
    grid-column: span 2;
    scroll-snap-align: center;


}

/* Artist Title should be 100% on mobile and max-content on desktop */
.artist__title {
    background-color: $color-green;
    width: 100%;
    text-align: center;
    padding: 5px 0;

}

.artist__image {
    width: 100%;
    padding-bottom: $grid__gap;
}

.p--fuschia {
    text-align: justify;
}

.p--fuschia::before {
    border-bottom: 3px solid $color-fuschia;
    width: 10%;
}



// Schedule

.schedule {
    background: linear-gradient($color-dark-teal, $color-teal);

    p {
        grid-column: span 4;
        padding-bottom: $section-gutter;
    }

    >h3 {
        grid-column: span 4;
        text-transform: uppercase;
        font-size: 1em;
    }

    >h3::after {

        content: "";
        flex-direction: row;
        position: absolute;
        width: 50%;
        margin-left: $grid__gap;
        border-bottom: 3px solid $color-teal;

    }
}

/* Tabs for jQuery */
#tabs__day {
    display: flex;
    grid-column: span 4;
    justify-content: space-evenly;
    margin-bottom: $grid__gap;

    >li>a {
        display: block;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5em;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}

.tabs__container {
    grid-column: span 4;



}

.tabs__card {

    display: flex;
    background-color: black;
    margin-bottom: $grid__gap;

    .tabs__card--time {
        @extend h4;
        margin: 0;
        padding: 0.5em;
        border-left: 2px solid $color-fuschia;

    }

    .tabs__info {
        border-left: 2px solid $color-fuschia;
        width: 100%;

        .tabs__venue {
            display: block;
            font-family: 'archivo', sans-serif;
            font-size: 1em;
            background-color: $color-dark-teal;
            margin: 0;
            padding: 2px 0 2px $grid__gap;

        }

        .tabs__artist {

            margin: 0;
            padding: 5px 0 5px $grid__gap;
            font-size: 1.602em;



        }
    }


}

// Newsletter

.signup {
    background-color: $color-light-grey;

    >h2 {
        grid-column: span 3;
        color: $color-brand-black;
    }

    >form {
        grid-row: 2;
        grid-column: span 4;

        div {
            display: flex;
            align-items: flex-end;
        }

        label {
            @extend .overline;
            color: $color-brand-black
        }
    }
}


#newsletter {

    border: 0;
    font-size: 1em;
    vertical-align: middle;
    background: none;
    border-bottom: 3px solid $color-fuschia;
}